.card-padre {
  width: 95%;
  max-height: max-content;
}

.card-item {
  display: flex;
  flex-direction: column;
}

.card-item img {
  width: 100%;
}

.card-item p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
}

.card-item span {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 300;
}

@media (max-width: 1024px) {
  .card-padre {
    width: 46vw;
    max-height: min-content;
  }
}

@media (max-width: 600px) {
  .card-padre {
    width: 96vw;
    max-height: min-content;
  }
}
