.menu {
  justify-content: center;
  height: 8vh;
  margin-bottom: 1rem;
}

.contenedor-logo img {
  height: 8vh;
  width: calc(8vh);
}

.contenedor-logo img:hover {
  height: 9vh;
  width: calc(9vh);
}

.menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 80vw;
}

.menu ul li button {
  height: 7vh;
  margin: 5px;
}
