* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contenedor-Inicio {
  margin: 0 0 1rem 0.5rem;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  background-image: url("/public/Lago_Ranco.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App-link {
  color: #61dafb;
}

.App-header {
  min-height: 10vh;
}

.App-main {
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 5vh;
  margin-top: auto;
  color: white;
  text-align: center;
  background-color: black;
}
